<a href="https://colab.research.google.com/github/majorquev/DBDC_202206_Programacion_en_R_para_ciencia_de_datos/blob/main/Clase1/Clase_1_01_variables_y_tipos_de_datos_desarrollo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.
 
Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2
   * Opción 3

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log() 
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp() 
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [5]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.
1+1
sin(180)
sqrt(4)
abs(-9)

[1] 2

[1] -0.8011526

[1] 2

[1] 9

In [6]:
5^2

[1] 25

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character 
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [11]:
# Podemos definir distintas variables
a <- 9
b <- 6.45
# strings(character)

string <- "Hola soy Miguel"
no_fecha <- "2022-06-03"
# valores lógicos (logical)
verdad <- TRUE
falso <-  FALSE

In [20]:
# Podemos asignar con la flechita en los dos sentidos
# aux <- codigo....
# codigo... -> aux 
4*(5+7/sqrt(17)) -> lala
lala2 <- 4*(5+7/sqrt(17))

In [21]:
lala
lala2

[1] 26.791

[1] 26.791

In [12]:
a + b

[1] 15.45

In [13]:
a + "5"

ERROR: ignored

In [14]:
# conector lógicos ( & es el "y", | es el "o" )
verdad & falso 
verdad | falso

[1] FALSE

[1] TRUE

In [15]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="

a == 8+1

[1] TRUE

In [17]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
a != 5
a != 9

[1] TRUE

[1] FALSE

In [24]:
# podemos realizar comparaciones aritméticas
3 > -8
5 <= 5

-10 > 1

[1] TRUE

[1] TRUE

[1] FALSE

In [28]:
# NOTA:valor infinito
Inf

Inf*100
Inf+Inf
0*Inf

[1] Inf

[1] Inf

[1] Inf

[1] NaN

In [31]:
# date
# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable

class(b)
class(no_fecha)
no_fecha
# Tipo de dato
typeof(b)
typeof(no_fecha)

[1] "numeric"

[1] "character"

[1] "2022-06-03"

[1] "double"

[1] "character"

In [35]:
# coercionamos a clase date
no_fecha
fecha <- as.Date(no_fecha)

class(fecha)
typeof(fecha)

[1] "2022-06-03"

[1] "Date"

[1] "double"

In [39]:
as.Date("30-12-2021", format = "%d-%m-%Y")

[1] "2021-12-30"

In [40]:
# Observación: Inmutabilidad de variables en R.

x <- 10
y <- x+1

In [41]:
y

[1] 11

In [42]:
x <- 11

In [43]:
x

[1] 11

In [ ]:
# ¿Qué valor tiene y?
y
# en R las asignaciones por defecto se realizan por valor y no por referencia.

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [52]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

[1] "a"        "b"        "falso"    "lala"     "lala2"    "no_fecha" "y"

In [48]:
# remueva algunas de las variables generadas anteriormente
rm(fecha)

In [51]:
rm(list = c("string","verdad","x"))

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [53]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
NA  # Not available. Blank de excel o el NULL de SQL
NaN # Not a number.

[1] NA

In [56]:
# para identificar un valor NA o NaN podemos utilizar la función is.na

[1] TRUE

In [58]:
var1 <- 10

In [59]:
var1 == 5

[1] FALSE

In [60]:
var1 == NA

[1] NA

In [61]:
NA == NA

[1] NA

In [62]:
is.na(var1)

[1] FALSE

In [63]:
is.na(NA)

[1] TRUE

In [67]:
is.nan(NaN)
is.nan(NA)
is.na(NaN)

[1] TRUE

[1] FALSE

[1] TRUE